mixin review(review)
  .review
    .review-info
      .info
        div
          span By&nbsp;
          a(href="/user/#{review.reviewer.id}") #{review.reviewer.name}
          span&nbsp;
          span to&nbsp;
          a(href="/user/#{review.reviewee.id}") #{review.reviewee.name}
          span &nbsp;for #{review.moduleCode}
        div.review-stars
          each val in [1, 2, 3, 4, 5]
            if val <= review.stars
              .star.selected
            else
              .star
      .review-user-image
        if review.reviewee.fbId
          img(src="http://graph.facebook.com/#{review.reviewee.fbId}/picture?type=square")
        else
          img(src="/images/unknown.gif")
      .review-relationship-arrow
        span.glyphicon.glyphicon-arrow-right(aria-hidden="true")
      .review-user-image
        if review.reviewer.fbId
          img(src="http://graph.facebook.com/#{review.reviewer.fbId}/picture?type=square")
        else
          img(src="/images/unknown.gif")
    .review-content
      .content #{review.description}
      hr
      .fb-like(data-href="http://52.76.48.36/reviews/" + review.id, data-layout='button_count', data-action='like', data-show-faces='true', data-share='true')

mixin profile_sidebar(user)
  link(rel='stylesheet', href='/stylesheets/profile.css')
  if user.fbId
    .user-image(style="background-image: url('http://graph.facebook.com/#{user.fbId}/picture?type=large')")
  else
    .user-image(style="background-image: url('/images/unknown.gif')")
  .user-info
    div.user-name.text-center #{user.name}
    div.user-matric.text-center
      if user.email
        a(href="mailto:#{user.email}")
          |#{user.email}
      else if /^[a-zA-Z]+$/.test(user.matricNumber)
        a(href="mailto:#{user.matricNumber}@nus.edu.sg")
          |#{user.matricNumber}@nus.edu.sg
      else
        a(href="mailto:#{user.matricNumber}@u.nus.edu")
          |#{user.matricNumber}@u.nus.edu
    if(currentUser.id != user.id)
      .text-center
        .btn.btn-primary.add-review-button.btn-block(
          data-reviewee-name=user.name,
          data-reviewee-id=user.id
        )
          span.glyphicon.glyphicon-pencil
          span &nbsp;Review
  .module-list
    if user.haveFetchedModules || user.matricNumber
      .panel.panel-primary.module-panel
        .panel-heading
          if currentUser.id == user.id
            .panel-title.module-heading.pull-left My modules
          else
            .panel-title.module-heading.pull-left #{user.name}'s modules
            .pull-right.module-refresh.pull-right
              a.btn.btn-sm.btn-success.module-refresh(href="/user/refreshModules")
                | Refresh
        if !user.modules || user.modules.length === 0
          .text-center
            if currentUser.id == user.id
              h4 You have no modules
            else
              h4 No module found!
        ul.list-group
          if user.modules
            each module in user.modules
              li.list-group-item
                a.text-uppercase(href="/module/#{module.uuid}") #{module.code}: #{module.title}
    else if(currentUser.id == user.id && !user.haveFetchedModules && !user.matricNumber)
      | Connect to IVLE to see your modules
      a.btn.btn-success.btn-block(href='/account/ivleConnect')
        | Login to IVLE
